
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Shout Out</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shout Out</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html"><i class="glyphicon glyphicon-home"></i></a></li>
              <li><a href="new-shout.html"><i class="glyphicon glyphicon-plus"></i></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    
    <div class="container">

      <div class="row main">
        <div class="col-md-6 col-md-offset-3">

        <h1 class="text-center">Shout Out</h1>
          
        <h3>Awesome! Here's your post:</h3>
       
        <div class="shout-wrapper row">
              <div class="author-img col-md-2">
                <img src="http://fillmurray.com/50/50" alt="">
              </div>
              
              <div class="shout-item col-md-10">
                Lo-fi narwhal cronut, flannel Helvetica direct trade farm-to-table Pitchfork polaroid food truck swag. Craft beer heirloom Wes Anderson raw denim Intelligentsia. Typewriter dreamcatcher organic synth street art. Chia fingerstache 3 wolf moon, biodiesel you probably haven't heard of them mixtape art party Pinterest DIY Etsy irony taxidermy seitan XOXO plaid. 

                <div class="shout-info clearfix">
                  <span class="shout-author pull-left">by Carl</span><span class="shout-date pull-right">June 26, 1969</span>
                </div>

              </div> 

            </div>
            <!-- end shout -->

            <h3>Share it with your friends:</h3>
            <a href="#">Facebook</a><br>
            <a href="#">Twitter</a>

        </div>
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
