<ion-view title="Shoutout!">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
          <h3><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Create a Shoutout</h3>
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Who did the deed?">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Where do they work?">
              </label>
              <label for="exampleInputFile">Upload a photo
                <input type="file" id="InputFile">
                <p class="help-block">Take of a photo of the person or the deed.</p>
              </label>
            </div>
              
              <button class="button button-positive">
                Shout Out
              </button>
              <a href="after-shout.html">Test submit</a>
            </div>
            <!-- /form -->
          </div>        
    </ion-pane><!-- /.container -->
  </ion-content>
</ion-view>

  
  

