body, .ion-content, .view, .pane  {
	/* Change the background color */
	
}

.bar.bar-stable {
	/* Give the header a background, border, and change the color of the font */
	
}

h1.title {
	/* Increase font size and make uppercase */
}

.shouts .item {
	/* Remove the border */
}


.author-img img {
	/* Make the image a circle */
}

.shout-info {
	/* Change the color and add a margin on top */

}

.shout-date {
	/* Align the text to the right side of the div */
}

.icon {
	/* Increase the font-size of the icons */ 
	
}

.menu .item {
	
}

ion-content {
	/* Put some padding around the main content area */
	padding: 25px 25px;
}

.shouts .item-complex .item-content {
	background: #f7f6f1;
	padding: 10px 0px 0px 0px;
}



ion-side-menu .list {
	margin-top: 44px;
}

.shout-item:before {
	top: 18px;
	left: -14px;
	height: 0;
	width: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 7.5px;
	border-right-color: #fff;
	z-index: 2;
	}
.shout-item:after {
	top: 17px;
	left: -16px;
	z-index: 1;
	height: 0;
	width: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 8.5px;
	border-right-color: silver;
}

.shout-item:before,.shout-item:after {
	display: block;
	content: " ";
	position: absolute;
}

.shout-item {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px 15px;
	position: relative;
	
}

.has-header {
	top: 64px;
}

